<%- include('header'); -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>
  <div class="box">


      <%for (let i = 0; i < newListItems.length; i++) {%>
        <div class="item">
          <input type="checkbox" name="" value="">
          <p><%= newListItems[i] %> </p>

        </div>
      <%}%>
      <form class= "input" action="/" method="post"> <!--// anytime a post request is made, we redirect to "/",
        // when using ejs templates and sending input to /work, we must -->
        <input type="text" name="newItem" value="" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value= <%= listTitle%>>+</button><!--/here we changed name="button" -> name="list" and gave it a value that
        was dynamic using ejs-->
  </form>
    </div>




  <%- include('footer'); -%>
